
/* General */
.heading {
  border: 2px black solid;
}


/* Carousel */
.carousel .carousel-inner{
  max-height: 450px;
  max-width: 75%;
  margin: auto;
}

.carousel-control-prev {
  margin-left: 10%;
}

.carousel-control-next {
  margin-right: 10%;
}
