<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">OCFR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reports
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="expired.html">Expired Certifications</a>
              <a class="dropdown-item" href="members.html">Member Details</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Certifications
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="certList.html">View Certifications</a>
              <a class="dropdown-item" href="certAdd.html">Add Certification</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Members
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="membList.html">View Members</a>
              <a class="dropdown-item" href="membAdd.html">Add Member</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>


    <div id="certMemb">
      <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
          <h1 class="heading col-12"> Member Certifications </h1>
        </div>
        <div class="row">
          <div class="offset-10 col-1">
            <button onclick="exportTableToCSV('membCerts.csv')" class="btn btn-primary">Download</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">pcID</th>
                    <th scope="col">pID</th>
                    <th scope="col">Member</th>
                    <th scope="col">cID</th>
                    <th scope="col">Certfication</th>
                    <th scope="col">Date Received</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="pc in peopleCert" @click="handleRowClick(pc)">
                    <th scope="row">{{ pc.pcID }}</th>
                    <td>{{ pc.pID }}</td>
                    <th>{{ pc.firstName }} {{ pc.lastName }}</th>
                    <td>{{ pc.cID }}</td>
                    <td>{{ pc.cName }}</td>
                    <td>{{ pc.received }}</td>
                    <td><button type="button" class="btn btn-danger" v-on:click="handleRowClick(pc)">View</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="container">
        <form @submit.prevent="handleUpdate">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputpcID">pcID</label>
              <input type="text" class="form-control" id="pcID" v-model="selection.pcID" placeholder="#" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="selectMember">Select Member</label>
            <select class="form-control" v-model="selection.pID">
              <option v-for="p in people" v-bind:value="p.pID">{{p.pID}} - {{p.firstName}} {{p.lastName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectCert">Select Certification</label>
            <select class="form-control" v-model="selection.cID">
              <option v-for="c in certifications" v-bind:value="c.cID">{{c.cID}} - {{c.cName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputStartDate">Date Received</label>
            <input type="date" class="form-control" v-model="selection.received">
          </div>
          <div class="row">
            <div class="col-3">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
            <div class="col-3 offset-6">
              <button type="" class="btn btn-danger" v-on:click="handleDelete">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <script src="js/certMemb.app.js"></script>

  </body>
</html>
